
.header {
  height: 70px;
  width: 100%;
  margin-bottom: 30px;
  background-color:  rgb(195, 209, 195);
  display: flex;
  position: sticky;
}
.header-panel {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
}
.logo {
  padding-left: 30px;
  width: 100px;
  height: 70px;
}
.add-btn {
  width: 100px;
  height: 40px;
  border: 1px solid rgb(195, 209, 195);
  border-radius: 10px;
  box-shadow: 2px 1px 1px rgb(33, 34, 33);
}
.add-btn:hover { 
  background: rgb(147, 161, 147); 
}
.update {
  width: 100px;
  height: 40px;
  border: 1px solid rgb(195, 209, 195);
  border-radius: 10px;
  box-shadow: 2px 1px 1px rgb(33, 34, 33);
}
body {
  margin: 0;
  font-family: sans-serif;
}
h3 {
  margin: 0;
  display: block;
  top: 86px;
  font-size: 30px;
  color: rgb(142, 155, 142);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; color:  rgb(142, 155, 142);
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.container {
  background-color: rgb(217, 231, 217);
  height: 50%;
  padding: 30px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: flex-start;
  gap: 30px;
}
.look, .change, .delete{
    height: 20px;
    width: 83px;
    border-radius: 3px;
    border: 1px solid rgb(195, 209, 195);
}
.card {
  background-color: silver;
  text-align: center;
  position: relative;
  height: 350px;
  border-radius: 8px;
  background-image: url("https://images11.graziamagazine.ru/upload/img_cache/ad9/ad99521f39944fdfd03bde3737b531c1_cropped_666x666.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn-card{
  background-color: aliceblue;
  position: absolute;
  top: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 20px;
  width: 270px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px;
}
.look:hover, .change:hover, .delete:hover { 
  background: rgb(147, 161, 147); 
}
.default {
  background-image: url(img/cat_null.png);
  background-size: contain;
}
.card::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #dedede90;
}
.card>* {
  position: relative;
}
.card__like {
  position: absolute;
  top: 8px;
  right: 8px;
  color: crimson;
  cursor: pointer;
}
.card h3 {
  margin-bottom: 5px;
}
.empty {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 calc(50% - 300px);
}
.homepage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.homepage-close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.4rem;
  cursor: pointer;
}
.homepage-close:hover {
  color: rgb(157, 172, 157)
}
.content {
  background-color: rgb(255, 253, 250);
  padding: 30px;
  border-radius: 8px;
  width: calc(100% - 60px);
  max-width: 300px;
  max-height: calc(100% - 60px);
  position: relative;
}
.content h2 {
  margin-top: 0;
}
.cardView-popup{
  background-color: blue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none; 
}
.content-cardView-popup{
  background-color: rgb(255, 253, 250);
  padding: 30px;
  border-radius: 8px;
  width: calc(100% - 60px);
  max-width: 300px;
  max-height: calc(100% - 60px);
  position: relative; 
}
.cardView-popup-close{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.4rem;
  cursor: pointer; 
}
.cardView-popup-close:hover {
  color: rgb(157, 172, 157)
}


.cardUpdate-popup{
  background-color: rgb(0, 255, 64);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none; 
}
.content-cardUpdate-popup{
  background-color: rgb(255, 253, 250);
  padding: 30px;
  border-radius: 8px;
  width: calc(100% - 60px);
  max-width: 300px;
  max-height: calc(100% - 60px);
  position: relative; 
}
.cardUpdate-popup-close{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.4rem;
  cursor: pointer; 
}
.cardUpdate-popup-close:hover {
  color: rgb(157, 172, 157)
}





.content form {
  display: grid;
  gap: 10px;
}
input, textarea {
  font-family: inherit;
  font-size: inherit;
  border: 1px solid darkgray;
  border-radius: 3px;
  background-color: transparent;
}
.control{
  padding-right: 30px;
  display: flex;
  gap: 20px;
}
.control>i {
  font-size: 1.4rem;
  cursor: pointer;
}
.control>i:hover {
  color: silver;
}
.footer-container{
  width: 100%;
  height: 70px;
  background-color: rgb(195, 209, 195);;
}
.footer-copyright{
  text-align: center;
  padding: 10px;
}
